<h1>Edit <%= @task.title %></h1>

<%= render 'form', task: @task %>

<button type="button" class="btn btn-light">
  <%= link_to 'Back to all tasks', tasks_path, class: "text-decoration-none" %>
</button>
